
body {
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    background-color: #bebebe;

}


/** {*/
/*    text-align: center;*/
/*}*/

h1 {
    font-size: 16pt;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial sans-serif;
}

canvas {
    cursor: crosshair;
    border: 1px solid #000000;
    /*vertical-align: middle;*/
    /*margin: auto;*/
    background: #A0A0A0;

}


.button {
    margin-top: 10px;
    display: block;
}



